@import 'common.scss';

:host {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    margin-bottom: 1rem;
}