<div class="screen">
    <div class="container">
        <header class="header header--with-back-btn">
            <a data-target="main-menu" class="button-link button--secondary" routerLink="/menu">
                <svg class="button__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </a>
            <h1 class="header__title">Levels</h1>
        </header>
        <div class="grid-wrapper">
            <levels-map [levels]="(levels$ | async)!"></levels-map>
        </div>
    </div>
</div>