@import 'common.scss';

:host {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    // padding-top: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-wrapper {
    width: 100%;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.header__title {
    margin-right: 80px;
}