$font-regular: "Inter Regular";
$font-bold: "Inter Bold";
$font-demi: "Inter Demi";
$font-code: "Source Code";

$white: #FAFAFA;
$white-2: #F3F5FB;
$black: #1F1F1F;
$grey: #575757;
$light-grey: #BCBCBC;
$light-grey-2: #818181;
$green: #85D94C;
$green-secondary: #6AAE3D;
$dark-green: #50822E;
$blue: #4F6AF4;
$blue-secondary: #3E54C2;
$light-blue: #E4E8FA;
$light-blue-2: #C5CEFB;
$dark-blue: #2D3C89;
$red: #F44F4F;
$orange: #FFAA7A;

$dark-theme-bg-primary: #222831;
$dark-theme-bg-secondary: #31363F;
$dark-theme-border: #383838;
$dark-theme-text-primary: #76ABAE;
$dark-theme-text: #FAFAFA;
$dark-theme-red: #FF6347;

$transitionTime: 0.125s;

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

@mixin for-phone-only {
    @media (max-width: 639px) { @content; }
}

@mixin for-tablet-up {
    @media (min-width: 640px) { @content; }
}

@mixin for-tablet-down {
    @media (max-width: 1023px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1024px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1440px) { @content; }
}