/* You can add global styles to this file, and also import other style files */

@import 'common.scss';

@font-face {
    font-family: $font-regular;
    src: url("/assets/Inter.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: $font-demi;
    src: url("/assets/Inter.ttf") format("truetype");
    font-weight: 600;
}


@font-face {
    font-family: $font-bold;
    src: url("/assets/Inter.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: $font-code;
    src: url("/assets/Consolas.ttf") format("truetype") ;
}

html {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $white;
}

body,
#index {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: toRem(14);
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}