@import 'common.scss';

:host {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.canvas-wrapper {
    flex: 1;

    canvas {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

.side-panel {
    min-width: toRem(300);
}

.furnitures-section {
    .list {
        display: flex;
        flex-direction: column;

        .item {
            padding: toRem(8) toRem(12);

            background-color: lightgray;
            &:hover {
                background-color: gray;
            }
            &:active {
                background-color: darkgrey;
            }
        }
    }
}