<div class="container">
    <div class="canvas-wrapper">
        <canvas #pixiCanvas></canvas>
    </div>
    <div class="side-panel">
        <div class="furnitures-section">
            <h3>Furnitures</h3>
            <div class="list">
            <ng-container *ngFor="let id of game.furnituresRemain; let i = index">
                <a class="item" (mousedown)="selectFurniture(id)">{{ game.furnitures[id].name }}</a>
            </ng-container>
            </div>
        </div>
        <div>
            <button (click)="submit()">Submit</button>
        </div>
        <div>
            <button (click)="tryAgain()">Try Again</button>
        </div>
    </div>
</div>